@import '../assets/variable.scss';
@import '../assets/typography.css';

h1 {
	color: white;
}
html {
	background-color: var(--bg-color-dark);
}
body {
	max-width: var(--max-screen-width);
	margin: 0 auto;
}
.logo {
	position: fixed;
	left: $content-margin;
	top: 0;
	margin: 20px 0;
	width: 100px;
	height: 100px;
	z-index: 10;
}