@import '../assets/variable.scss';
@import '../assets/typography.css';

h1 {
	color: white;
}
html {
	background-color: var(--bg-color-dark);
}
body {
	max-width: var(--max-screen-width);
	margin: 0 auto;
}