@import '../assets/variable.scss';
@import '../assets/typography.css';

h1 {
	color: white;
}
html {
	background-color: $primary-color;
	margin: 0;
	padding: 0;
}
body {
	max-width: var(--max-screen-width);
	margin: 0 auto;
}
.logo {
	position: fixed;
	left: $content-margin;
	top: 0;
	margin: 10px 0;
	width: 100px;
	height: 100px;
	z-index: 10;
	transition: opacity 300ms ease-in-out;
}

.content {
	position: relative;
	margin: 0 $content-margin;
	padding: 10% 0;
	padding-bottom: 0;
	font-family: 'moteserrat';
	color: $text-color;
	z-index: 5;
}
.hide {
	opacity: 0;
	z-index: 1;
}

.appear {
	opacity: 1;
}

.gone {
	opacity: 0;
}
.loader {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

@media only screen and (max-width: $media-width-sm) {
	.logo {
		width: 70px;
		height: 70px;
		left: $content-margin-sm;
	}
	.invisible {
		visibility: hidden;
	}
	.content {
		margin: 0 $content-margin-sm;
	}
}