$max-screen-width: 1900px;
$media-width-sm: 26em; // 425px
$media-width-md: 48em; // 768px
$media-width-lg: 62em; // 992px
$media-width-xl: 75em; //1200px


// $bg-color-light: #F2EBE6;
$bg-color-light: #E6E6E6;
// $bg-color-dark: #150f0a;
$bg-color-dark: #212121;
$primary-color: #000;
// $lines-color-dark: #403c3b;
$lines-color-dark: #403c3b;
$lines-color-light: #ccc8c8;
$text-color: #ccc8c8;
// $button-hover: #bf360c;
$button-hover: #ffe0b2;
$matt-color: #fff3e0;

$content-margin: 16.6%;
$content-margin-sm: 8%;

$plain-white: #fff;

@mixin paint_color($timing) {
	-webkit-transition: background-position $timing, color $timing ease, border-color $timing ease;
	-moz-transition: background-position $timing, color $timing ease, border-color $timing ease;
	-ms-transition: background-position $timing, color $timing ease, border-color $timing ease;
	-o-transition: background-position $timing, color $timing ease, border-color $timing ease;
	transition: background-position $timing, color $timing ease, border-color $timing ease;
	z-index: 9;
}

@mixin button_effect {
	transition: background-color 500ms ease-in;
}

@mixin step_appear {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}