@import '../../assets/variable.scss';

.projects {
	overflow: hidden;
	.title {
		font-family: 'moteserrat-bold';
		font-size: 2em;
		margin-top: 4em;
	}
	.row {
		display: flex;
		flex-direction: row;
		overflow: hidden;

		.col {
			width: 50%;
			max-height: 25em;
			display: flex;
			flex-direction: column;
			transform: translateX(-200%);
			transition: transform 1s ease-in-out;
			overflow: hidden;
			// padding-left: 2em;

			.project_title {
				font-family: 'moteserrat-bold';
				font-size: 1.5em;
				color: $bg-color-dark;
				margin: 20px;
			}
			.project_desc {
				font-family: 'moteserrat-light';
				font-size: 0.9em;
				color: $bg-color-dark;
				margin: 10px 20px;
			}
			.moreinfo {
				margin: 5px 20px;
			}
		}
		.bg-y {
			background-color: $button-hover;
			overflow: hidden;
			z-index: 5;
		}
		.bg-l {
			background-color: white;
			justify-items: center;
			align-items: center;
			object-fit: cover;
			padding: 0;
			overflow: hidden;
			z-index: 3;

			.tech_icon {
				width: 20em;
				height: 20em;
			}
			.inc_size {
				width: 30em;
			}
		}
		.slide_in {
			transform: translateX(0);
		}
	}
	.index_inc {
		display: flex;
		flex-direction: row;
		align-self: center;
		justify-content: center;

		.box {
			width: 2em;
			height: 2em;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $lines-color-dark;
			margin: 10px;
			@include button_effect;

			.inc_icon {
				width: 1em;
				height: 1em;
			}
			.inv {
				transform: rotate(180deg);
			}
			&:hover {
				background-color: $bg-color-dark;
			}
		}
		.disabled_box {
			pointer-events: none;
			opacity: 0.1;
		}
	}
}

@media only screen and (max-width: $media-width-md) {
	.projects {
		.row {
			flex-direction: column;
			.col {
				width: 100%;
				max-height: 27em;
			}
		}
	}
}

@media only screen and (max-width: $media-width-sm) {
	.projects {
		.row {
			.col {
				max-height: max-content;
			}
			.bg-l {
				display: none;
			}
		}
	}	
}