@import '../../../assets/variable.scss';

.bg_wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1pt;
	position: fixed;
	width: 100%;
	height: 400%;
	background-color: $lines-color-dark;
	// z-index: 10;

	.grid_item {
		background-color: $bg-color-dark;
		width: auto;
		height: 100%;
		background-size: 200% 200%;
		background-image: 
		linear-gradient(to top, $bg-color-light 50%, transparent 50%);
		-webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
		-moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
		-ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
		-o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
		transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
	}
	.open_0 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(900ms);
	}
	.open_1 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(600ms);
	}
	.open_2 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(800ms);
	}
	.open_3 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(700ms);
	}
	.open_4 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(500ms);
	}
	.open_5 {
		background-image: 
		linear-gradient(to top, $bg-color-light 51%, transparent 50%);
		background-position: 0 100%;
		@include paint_color(600ms);
	}
}
.invert {
	background-color: $lines-color-light;
}